/*#region ogólne*/
body, input, select, button, textarea, .superMenu li {
    color: #383838;
    font-size: small;
    font-family: 'Times New Roman';
}

a {
    color: dodgerblue;
}

    a:hover {
        color: black;
    }

input[type="submit"], .superMenu li {
    background-color: lightsteelblue;
    background: linear-gradient(lightsteelblue, aliceblue);
    color: black;
    border: solid 1px dodgerblue;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
}

    input[type="submit"]:hover, .superMenu li:hover {
        background-color: dodgerblue;
        background: linear-gradient(dodgerblue, dodgerblue);
        color: white;
        cursor: pointer;
    }

    input[type="submit"]:disabled {
        background-color: lightgray;
        background: linear-gradient(lightgray, lightgray);
        color: gray;
        border-color: gray;
        cursor: auto;
        box-shadow: none;
    }

input, select, textarea {
    border: solid 1px dodgerblue;
}

    input:focus, select:focus, textarea:focus {
        border-color: mediumblue;
        background-color: aliceblue;
    }
/*#endregion*/

/*#region menu*/
/*.menu {
    background-color: aliceblue;
    border: 1px solid dodgerblue;
    margin-top: 5px;
    padding: 5px;
}

.menuItem {
    color: #606060;
    text-decoration: none;
    font-weight: bold;
    border-right: solid 1px gray;
    padding-right: 3px;
}*/

.mainMenu {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    font-size: medium;
}

.mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mainMenu li {
    margin: 0;
}

.mainMenu li:hover {
    cursor: pointer;
}

.mainSuperMenuItem {
    display: inline;
    position: relative;
    color: white;
    font-weight: bold;
    background-color: steelblue;
    border-color: mediumblue;
    border-style: solid;
    border-width: 2px 1px 2px 1px;
    padding: 5px;
}

.mainSuperMenuItem:hover {
    background-color: mediumblue;
}

.mainSubMenu {
    display: none;
    position: absolute;
    top: 29px;
    left: 0px;
    border: 2px solid gray;
    font-size: small;
}

.mainSubMenuItem, .mainSubSubMenuItem {
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    color: #383838;
    font-weight: normal;
}

    .mainSubMenuItem a, .mainSubSubMenuItem a, .pseudoLink {
        padding: 3px;
        color: #383838;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .mainSubMenuItem:hover, .mainSubSubMenuItem:hover {
        background-color: lightgray;
    }

.mainSubSubMenu {
    display: none;
    position: absolute;
    left: 101%;
    top: -3px;
    border: 2px solid gray;
}
/*#endregion*/

/*#region główne tabele*/
.mainTable {
    border-collapse: collapse;
    border: 1px solid lightgray;
    display: inline-block;
}

    .mainTable thead, .mainTable .tableHeaderRow {
        display: block;
    }

    .mainTable tbody {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 430px;
        display: inline-block;
    }

.tabTable tbody {
    height: 200px;
}

    .mainTable .sortLink {
        color: #383838;
        text-decoration: underline;
    }

        .mainTable .sortLink:hover {
            color: black;
        }

    .mainTable th {
        background-color: #E8E8E8;
        font-weight: bold;
        //padding: 3px;
    }

    .mainTable input[type="radio"] {
        display: none;
    }

    .mainTable label {
        display: block;
        padding: 3px;
        //padding-left: 25px;
        //padding-right: 25px;
        cursor: pointer;
    }

    .mainTable .tableRow {
        border: 1px solid lightgray;
    }

        .mainTable .tableRow:hover {
            background-color: lightgray;
        }

    .mainTable .selectedRow {
        background-color: gray;
        color: white;
    }
/*#endregion*/

/*#region rozwijane menu*/
.superMenu {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin-left: 50px;
    z-index: 2;
}

.superMenu li {
    display: inline;
    padding-bottom: 3px;
    position: relative;
}

    .superMenu li:hover {
        cursor: default;
    }

        .superMenu li:hover .subMenu {
            display: table;
        }

            .superMenu li:hover .subMenu li {
                float: none;
            }

.subMenu {
    display: none;
    position: absolute;
    top: 21px;
    left: 0px;
    padding: 0;
    margin: 0;
    border: 2px solid gray;
    border-collapse: collapse;
}

    .subMenu li {
        display: table-row;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        border: 1px solid lightgray;
        background-color: white;
        background: linear-gradient(white, white);
    }

        .subMenu li:hover {
            background-color: lightgray;
            background: linear-gradient(lightgray, lightgray);
        }

    .subMenu a {
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        text-decoration: none;
        color: #383838;
    }

        .subMenu a:hover {
            cursor: pointer;
        }
/*#endregion*/

/*#region zakładki*/
.tabBorder {
    border: solid 2px mediumblue;
    margin-top: 1px;
}

.tabSeparator {
    height: 10px;
    background-color: dodgerblue;
    border-bottom: 2px solid mediumblue;
}

.tab {
    width: 100%;
    height: 450px;
}

.tabRadio {
    display: none;
}

.tabLabel {
    margin-left: 2px;
    border-top: solid 2px mediumblue;
    border-left: solid 1px mediumblue;
    border-right: solid 1px mediumblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: aliceblue;
    color: #606060;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
}

.tabRadio:checked + label {
    background-color: dodgerblue;
    color: white;
    border-bottom: solid 2px dodgerblue;
}

.tabLabel:hover {
    color: black;
}

.fieldWithLabel {
    padding-bottom: 10px;
}
/*#endregion*/

/*#region walidacja rekordu*/
.placeOfResultWindow {
    text-align: center;
    padding: 10px;
}

.resultWindow {
    background-color: aliceblue;
    display: inline-block;
    border: solid 1px dodgerblue;
    padding: 5px;
}
/*#endregion*/

/*#region znak wodny*/
#waterMark {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 215px;
    height: 82px;
    margin-top: -41px;
    margin-left: -107px;
    background-image: url(Images/waterMark.bmp);
    opacity: 0.1;
    pointer-events: none;
}
/*#endregion*/

/*#region login, powitanie*/
#placeOfLogin, .helloScreen {
    width: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -190px;
    margin-left: -270px;
    border-width: 3px;
    border-style: solid;
    border-bottom-color: dodgerblue;
    border-left-color: dodgerblue;
    border-top-color: mediumblue;
    border-right-color: mediumblue;
    padding: 20px;
}

.placeOfLogOut {
    border-width: 1px;
    border-style: solid;
    border-bottom-color: dodgerblue;
    border-left-color: dodgerblue;
    border-top-color: mediumblue;
    border-right-color: mediumblue;
    background-color: aliceblue;
    padding: 5px;
}

.siteMapPath {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10px;
    height: 15px;
}

.helloScreen {
    background-color: aliceblue;
}

.helloScreen div {
    text-align: center;
    font-size: medium;
}

.helloScreen span {
    color: steelblue;
    font-weight: bold;
}
/*#endregion*/

/*#region raport*/
.reportTable {
    color: black;
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}

    .reportTable th {
        border: 1px solid black;
        padding: 5px;
    }

.newPage {
    page-break-after: always;
}
/*#endregion*/