button, input[type=button], a {
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    cursor: default;
    font-family: Arial;
    font-size: 14px;
    padding: 16px;
}

    button[disabled] {
        background-color: #e8e8e8;
        color: #a0a0a0;
    }

    button:not([disabled]):hover, input[type=button]:not([disabled]):hover, a:hover {
        background-color: #002758;
        background: linear-gradient(#05448C, #050D1E);
        color: white;
    }

    button:active, a:active {
        position: relative;
        top: 1px;
        left: 1px;
    }

.mainTable {
    display: inline-block;
    border-collapse: collapse;
    margin: 10px;
}

    .mainTable thead {
        display: block;
    }

    .mainTable tbody {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 200px;
        display: inline-block;
    }

    /*.mainTable label:hover {
        cursor: pointer;
    }*/

    .mainTable td, .mainTable th {
        padding: 5px;
    }

.kolumnaDoPrawej {
    text-align: right;
}

.kolumnaPrawa {
    font-weight: bold;
}

.lewaKolumna, #formOfDocumentAdding, .formularz {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    float: left;
}

#formOfDocumentAdding, .formularz {
    clear: both;
}

.znakWodny {
    position: fixed;
    right: 1%;
    top: 1%;
    width: 215px;
    height: 82px;
    background-image: url(waterMark.bmp);
    opacity: 0.2;
    pointer-events: none;
    color: transparent;
}

.prawaKolumna {
    display: inline-block;
    margin-left: 100px;
}

.lewa {
    display: inline-block;
    float: left;
}

.prawa {
    display: inline-block;
}

.przyciski {
    clear: both;
}