<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <PdfBrowser.Properties.Settings>
            <setting name="PdfBrowser_pl_gov_edeklaracje_test_bramka_GateService"
                serializeAs="String">
                <value>https://test-bramka.edeklaracje.gov.pl/uslugi/dokumenty/</value>
            </setting>
        </PdfBrowser.Properties.Settings>
    </applicationSettings>
</configuration>
