<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--
      1 - yyyy-MM-dd
      2 - yyyy-dd-MM
      3 - dd-MM-yyyy
      4 - MM-dd-yyyy
    -->
    <add key="formatDaty" value="1"/>
  </appSettings>
</configuration>
